@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="col-md-4 text-center">
        <img class="" style="height: 200px;" src="~/images/onlinelogomaker-092221-2244-3884.svg">
    </div>
    <div class="col-md-8" style="color: #1ba94c; padding-top: 15px;">
        <h1 style="font-size: 45px;">JobFinder,</h1>
        <p class="lead" style="font-size: 30px;">A place where you are one step away from your dream job or recruiting the right candidate!</p>
    </div>
</div>

<div style="background-color: #1ba94c; margin-top: 100px; padding-bottom: 75px; padding-top: 75px;">
    <h2 style="color: white; text-align: center; font-size: 40px; padding-top: 20px; padding-bottom: 15px; margin-bottom: 35px;">Looking for a job?</h2>
    <div class="row text-center">
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2327-5500.svg">
            <p style="color: white; font-size: 28px; ">
                Create an account
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2334-5982.png">
            <p style="color: white; font-size: 28px;">
                Search for jobs
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2343-8869.png">
            <p style="color: white; font-size: 28px;">
                Apply to jobs you like
            </p>
        </div>
    </div>
</div>


<div style=" margin-top: 50px; padding-bottom: 75px; padding-top: 50px;">
    <h2 style="color: #1ba94c; text-align: center; font-size: 40px; padding-top: 20px; padding-bottom: 15px; margin-bottom: 35px;">Looking to hire?</h2>
    <div class="row text-center">
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092221-2355-3250.png">
            <p style="color: #1ba94c; font-size: 28px; ">
                Post a vacancy
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092321-0009-0984.svg">
            <p style="color: #1ba94c; font-size: 28px;">
                See who applied
            </p>
        </div>
        <div class="col-md-4" style="">
            <img class="" style="height: 100px;" src="~/images/onlinelogomaker-092321-0014-1463.png">
            <p style="color: #1ba94c; font-size: 28px;">
                Contact the applicants
            </p>
        </div>
    </div>
</div>