
@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <label>@ViewBag.Notification</label>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

